process {
    withName: PANGOLIN {
        conda = "pangolin"
    }
    withName: NANOPLOT {
        conda = "/home/config/nanoplot.yaml"
    }
    withName: PLOT_MOSDEPTH_REGIONS_GENOME {
        conda = "/home/config/mosdepth.yaml"
    }
    withName: PLOT_MOSDEPTH_REGIONS_AMPLICON {
        conda = "/home/config/mosdepth.yaml"
    }
    withName: PLOT_MOSDEPTH_REGIONS_AMPLICON {
        conda = "/home/config/mosdepth.yaml"
    }
}
